@font-face {
  font-family: MyFont;
  src: url("./Poppins-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #476c476a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.container {
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 10px 10px #3c5f3c41;
  border: 1px solid #2c462c;
  user-select: none;
}

.header {
  width: 100%;
  height: 70px;
  background-color: #3c5f3c;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  gap: 5px;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}

.box {
  height: 25px;
  width: 150px;
  background-color: #fcfcfc;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3c5f3c;
  font-weight: 600;
  font-size: 1.6rem;
}

.space {
  height: 300px;
  width: 300px;
  text-align: center;
  font-size: 3rem;
  color: #2c462c;
  background-color: #12062b;
  position: relative;
  overflow: hidden;
}

.space-shuttle {
  height: 60px;
  width: 30px;
  position: absolute;
  background: url("./images/shuttle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0px;
  border-radius: 20px 20px 0 0;
  left: 135px;
  transition: all 0.2s linear;
  z-index: 10;
}

.bullet {
  height: 10px;
  width: 2px;
  background-color: #ff5202;
  box-shadow: 0 0 3px 3px #ffef76;
  position: absolute;
  bottom: 60px;
  border-radius: 50%;
  transition: all 0.2s linear;
  left: 15px;
  animation: bulletShoot 0.6s linear;
  z-index: 0;
}

@keyframes bulletShoot {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: 300px;
  }
}

.weak-enemy,
.strong-enemy {
  height: 20px;
  width: 30px;
  background: radial-gradient(#ecbb71, #f8ae2e, #f82f28);
  position: absolute;
  bottom: 300px;
  border-radius: 4px;
  font-size: 1.1rem;
  color: #000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 10;
}

.strong-enemy {
  height: 30px;
  width: 35px;
  background: radial-gradient(#ffb545, #ff1e1e, #ff1109);
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3c5f3c;
  font-size: 3rem;
  font-weight: 900;
}

.buttons {
  width: 100%;
  height: 108px;
  background-color: #3c5f3c;
  display: flex;
  flex-wrap: wrap;
  color: #fcfcfc;
}

.btn-row-1,
.btn-row-2 {
  height: 50%;
  width: 100%;
  display: flex;
}

.sound,
.play,
.up {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.left,
.right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #3c5f3c;
  color: #fcfcfc;
  height: 100%;
  width: 100px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s linear;
  border: 1px solid #2c462c;
}

button:hover {
  background-color: #2c462c;
}

@media (max-width: 768px) {
  .buttons {
    height: 120px;
  }
}
